<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
<a href="/">Back</a>
<h1>Appointments</h1>
<a href="/appointments/add">Add Appointment</a>
<table border="1px" style="border-collapse: collapse">
  <tr>
    <th>ID</th>
    <th>Date and Time</th>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Action</th>
  </tr>
  <tr th:each="appointment : ${appointments}">
    <td th:text="${appointment.id}"></td>
    <td th:text="${#dates.format(appointment.dateTime,'dd-MM-yyyy HH:mm')}"></td>
    <td th:text="${appointment.patient.name}"></td>
    <td th:text="${appointment.doctor.name}"></td>
    <td><a th:href="@{/appointments/remove(id=${appointment.id})}">Remove</a></td>
  </tr>
</table>
</body>
</html>