<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body1">
<a class="a2" href="/"><img class="back" src="/93634.png"></a>
<div class="div3">
    <h1 class="h2">Appointments</h1>
    <a class="a1" href="/appointments/add"><button class="button1">Add Appointment</button></a>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date and Time</th>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.id}"></td>
                <td th:text="${#dates.format(appointment.dateTime,'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${appointment.patient.name}"></td>
                <td th:text="${appointment.doctor.name}"></td>
                <td><a class="a2" th:href="@{/appointments/remove(id=${appointment.id})}"><img style="width: 30px" src="/delete.png"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>