<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<a class="a2" href="/doctors"><img class="back" src="/image/93634.png"></a>
<div class="div4">
    <div class="center">
        <h1>Add Doctor</h1>
        <form action="/doctors/add" method="post" enctype="multipart/form-data" th:object="${doctor}">
            <div class="inputbox">
                <input type="text" name="name" placeholder="Name" th:field="*{name}">
                <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> name errors</span>
            </div>
            <div class="inputbox">
                <input type="text" name="surname" placeholder="Surname" th:field="*{surname}">
                <span style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> surname errors</span>
            </div>
            <div class="inputbox">
                <input type="email" name="email" placeholder="Email" th:field="*{email}">
                <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> email errors</span>
            </div>
            <div class="inputbox">
                <input type="text" name="specialty" placeholder="Specialty" th:field="*{specialty}">
                <span style="color: red" th:if="${#fields.hasErrors('specialty')}" th:errors="*{specialty}"> specialty errors</span>
            </div>
            <div class="inputbox">
                <input type="tel" name="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}">
                <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"> phone number errors</span>
            </div>
            <div class="inputbox">
                <input class="custom-file-input" type="file" name="profile_pic">
            </div>
            <div class="inputbox">
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
</div>
</body>
</html>