<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<a class="a2" href="/doctors"><img class="back" src="/93634.png"></a>
<div class="div4">
    <div class="center">
        <h1>Add Doctor</h1>
        <form action="/doctors/add" method="post" enctype="multipart/form-data">
            <div class="inputbox">
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="inputbox">
                <input type="text" name="surname" placeholder="Surname">
            </div>
            <div class="inputbox">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="inputbox">
                <input type="text" name="specialty" placeholder="Specialty">
            </div>
            <div class="inputbox">
                <input type="tel" name="phone_number" placeholder="Phone Number">
            </div>
            <div class="inputbox">
                <input class="custom-file-input" type="file" name="profile_pic">
            </div>
            <div class="inputbox">
                <input type="button" value="Create">
            </div>
        </form>
    </div>
</div>
</body>
</html>