<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body1">
<a class="a2" href="/"><img class="back" src="/93634.png"></a>
<div class="div3">
    <h1 class="h2">Doctors</h1>
    <a class="a1" href="/doctors/add">
        <button class="button1">Add Doctor</button>
    </a>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Specialty</th>
                <th>Phone Number</th>
                <th>Picture</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.surname}"></td>
                <td th:text="${doctor.email}"></td>
                <td th:text="${doctor.specialty}"></td>
                <td th:text="${doctor.phoneNumber}"></td>
                <td>
                    <img th:if="${doctor.getProfilePic() != null}"
                         th:src="@{/getimage(imageName=${doctor.getProfilePic()})}"
                         width="80">
                    <img th:unless="${doctor.getProfilePic() != null}" src="/doctor.png" width="80">
                </td>
                <td><a class="a2" th:href="@{/doctors/remove(id=${doctor.id})}"><img style="width: 30px" src="/delete.png"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>